<%- include ("partials/head.ejs") %>
<section class="container">
    <div>
        <%- include ("partials/shirt.ejs") %>
    </div>
    <article>
        <p>Je hebt gekozen voor een <%= data.type %> tshirt in de maat <%= data.size %>.
            Het is een <% if (data.color){ %> <%= data.color.name %> <% } %> tshirt, met <% if (data.textColor ){ %> <%= data.textColor.name %> <% } %> tekst. Waarop staat</p>
        <h1>I speak</h1>
        <ul>
            <li><%= data.firstLanguage %></li>
            <li><%= data.secondLanguage %></li>
            <li><%= data.thirdLanguage %></li>
            <li><%= data.fourthLanguage %></li>
        </ul>
        <footer>
            <p>Kopieer de code: <%= data.pin %></p>
            <p>Of bookmark de url</p>
            <a class="btn" href="/form/<%= data._id %>">Aanpassen</a>
            <a class="btn" href="">Print</a>
            <a class="btn btn--order" href="">Bestellen</a>
        </footer>
    </article>
</section>
<%- include ("partials/footer.ejs") %>