<%- include ("partials/head.ejs") %>
<form id="update-form" action="/form/<% if (typeof formdata != "undefined"){ %><%= formdata._id %><%}%>" method="POST" enctype="multipart/form-formdata">
    <input type="hidden" name="hidden_id" value="<% if (typeof formdata != "undefined"){ %><%= formdata._id %><%}%>">
    <section>
        <h1>T-shirt: <%= formdata.design.type %></h1>
        <fieldset>
            <legend>Wat voor shirt wil je?</legend>
            <% console.log('formdata', formdata) %>
            <% formdata.design.gender.forEach(gender => { %>

            <label for="<%= gender %>">
                <input type="radio" id="<%= gender %>" name="type" value="<%= gender %>"
                    <% if (formdata.type == gender) { %> checked <% } %>>
                <span class="<%= gender %>"></span>
                <span><%= gender %> shirt</span>
            </label>

            <% }) %>
        </fieldset>

        <fieldset>
            <legend>Wat is je maat?</legend>
            <% formdata.design.sizes.forEach(size => { %>

            <label for="<%= size %>">
                <input type="radio" id="<%= size %>" name="size" value="<%= size %>" <% if (formdata.size == size) { %>
                    checked <% } %>>
                <span class="<%= size %>"></span>
                <span><%= size %></span>
            </label>

            <% }) %>
        </fieldset>
        <fieldset>
            <legend>Wat voor kleur shirt wil je?</legend>
            <% formdata.design.shirtColors.forEach(colors => { %>

            <label for="<%= colors.name %>">
                <input type="radio" id="<%= colors.name %>" name="color" value="<%= colors.name %>" <% if (formdata.color.name == colors.name) { %> checked <% } %>>
                <span class="<%= colors.name %>"></span>
                <span><%= colors.nerdy %> shirt </span>
            </label>

            <% }) %>
        </fieldset>
        <fieldset class="<%= formdata.color.name %>">
            <legend>Wat voor kleur tekst wil je?</legend>
            <% console.log('formdataiii', formdata.textColor) %>

            <% formdata.design.textColors.forEach(colors => { %>
            <label for="<%= colors.name %>">
                <input type="radio" id="<%= colors.name %>" name="textColor" value="<%= colors.name %>"<% if (formdata.textColor.name == colors.name) { %> checked <% } %>>
                <span class="<%= colors.name %>"></span>
                <span><%= colors.nerdy %> shirt </span>
            </label>

            <% }) %>
        </fieldset>
    </section>
    <section id="shirt-container">
        <%- include ("partials/shirt.ejs") %>
        <fieldset class="<%= formdata.textColor.name %>">
            <legend>Wat voor programmeertaal spreek je?</legend>

            <label for="first-language">
                <span>Eerste Taal</span>
                <input type="text" id="first-language" name="firstLanguage" value="<%= formdata.firstLanguage %>">
            </label>

            <label for="second-language">
                <span>Tweede Taal</span>
                <input type="text" id="second-language" name="secondLanguage" value="<%= formdata.secondLanguage %>">
            </label>


            <label for="third-language">
                <span>Derde Taal</span>
                <input type="text" id="third-language" name="thirdLanguage" value="<%= formdata.thirdLanguage %>">
            </label>

            <label for="fourth-language">
                <span>Vierde Taal</span>
                <input type="text" id="fourth-language" name="fourthLanguage" value="<%= formdata.fourthLanguage %>">
            </label>

        </fieldset>
        <button class="btn btn--ghost btn--preview">Bekijk preview</button>
    </section>
</form>

<%- include ("partials/footer.ejs") %>