<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>

    <article>
        <p>Je hebt gekozen voor een <%= data.type %> tshirt in de maat <%= data.size %>.
            Het is een <%= data.color %> tshirt, met <%= data.textColor %> tekst. En er staat</p>
        <h1>I speak</h1>
        <ul>
            <li><%= data.firstLanguage %></li>
            <li><%= data.secondLanguage %></li>
            <li><%= data.thirdLanguage %></li>
            <li><%= data.fourthLanguage %></li>
        </ul>
        <button>Aanpassen</button>
    </article>
</body>
</html>