<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Form</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">tshirt designer</a>
            </li>
            <li>
                <a class="btn" href="/search">vul je code in</a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="container">
            <div>
                <img src="/img/shirt.png" alt="Een <%= data.color %> tshirt, met <%= data.textColor %> tekst.">
            </div>
            <article>
                <p>Je hebt gekozen voor een <%= data.type %> tshirt in de maat <%= data.size %>.
                    Het is een <%= data.color %> tshirt, met <%= data.textColor %> tekst. Waarop staat</p>
                <h1>I speak</h1>
                <ul>
                    <li><%= data.firstLanguage %></li>
                    <li><%= data.secondLanguage %></li>
                    <li><%= data.thirdLanguage %></li>
                    <li><%= data.fourthLanguage %></li>
                </ul>
                <footer>
                    <p>Kopieer de code: <%= data.pin %></p>
                    <p>Of bookmark de url</p>
                    <a class="btn" href="/form/<%= data._id %>">Aanpassen</a>
                    <a class="btn" href="">Print</a>
                    <a class="btn btn--order" href="">Bestellen</a>
                </footer>
            </article>
        </section>
    </main>
</body>
</html>