<%- include ("partials/head.ejs") %>
<section class="container design">
    <h1>Bestellingsnummer <%= formdata.pin %></h1>
    <article class="<%= formdata.textColor.name %>">
        <%- include ("partials/shirt.ejs") %>
        <div>
            <h1>I speak</h1>
            <ul>
                <li><%= formdata.firstLanguage %></li>
                <li><%= formdata.secondLanguage %></li>
                <li><%= formdata.thirdLanguage %></li>
                <li><%= formdata.fourthLanguage %></li>
            </ul>
        </div>
    </article>
    <article>
        <p>Je hebt gekozen voor een <%= formdata.type %> tshirt in de maat <%= formdata.size %>.
            Het is een <% if (formdata.color){ %> <%= formdata.color.nerdy %> <% } %> tshirt, met <% if (formdata.textColor ){ %> <%= formdata.textColor.name %> <% } %> tekst. Waarop staat</p>
        <footer>
            <p>Tevreden met het ontwerp? Zo niet pas het ontwerp aan en anders bestellen</p>
            <label>Kopieer deze pincode: <input type="text" class="text" value="<%= formdata.pin %>"></label>

            <label>
                Of bookmark deze url:
                <input type="text" value="https://shirt-designer.herokuapp.com/form/edit/<%= formdata._id %>">
            </label>
            <a class="btn btn--ghost" href="/form/edit/<%= formdata._id %>">Verder aanpassen</a>
            <a class="btn btn--order" href="/order/<%= formdata._id %>/completed">Bestelling plaatsen</a>
        </footer>
    </article>
</section>
<%- include ("partials/footer.ejs") %>